<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SC00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,121}</string>
                <key>spriteSourceSize</key>
                <string>{173,173}</string>
                <key>textureRect</key>
                <string>{{158,251},{79,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SC01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{87,125}</string>
                <key>spriteSourceSize</key>
                <string>{173,173}</string>
                <key>textureRect</key>
                <string>{{162,1},{87,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SC02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{103,129}</string>
                <key>spriteSourceSize</key>
                <string>{173,173}</string>
                <key>textureRect</key>
                <string>{{152,374},{103,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SC03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,131}</string>
                <key>spriteSourceSize</key>
                <string>{173,173}</string>
                <key>textureRect</key>
                <string>{{124,505},{121,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SC04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{149,127}</string>
                <key>spriteSourceSize</key>
                <string>{173,173}</string>
                <key>textureRect</key>
                <string>{{1,257},{149,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SC05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{155,127}</string>
                <key>spriteSourceSize</key>
                <string>{173,173}</string>
                <key>textureRect</key>
                <string>{{1,128},{155,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SC06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{159,125}</string>
                <key>spriteSourceSize</key>
                <string>{173,173}</string>
                <key>textureRect</key>
                <string>{{1,1},{159,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SC07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{153,121}</string>
                <key>spriteSourceSize</key>
                <string>{173,173}</string>
                <key>textureRect</key>
                <string>{{1,386},{153,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SC08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,121}</string>
                <key>spriteSourceSize</key>
                <string>{173,173}</string>
                <key>textureRect</key>
                <string>{{1,541},{121,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SC09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{105,121}</string>
                <key>spriteSourceSize</key>
                <string>{173,173}</string>
                <key>textureRect</key>
                <string>{{124,628},{105,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SC10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{173,173}</string>
                <key>textureRect</key>
                <string>{{158,128},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SC11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,121}</string>
                <key>spriteSourceSize</key>
                <string>{173,173}</string>
                <key>textureRect</key>
                <string>{{1,664},{79,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SC12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,121}</string>
                <key>spriteSourceSize</key>
                <string>{173,173}</string>
                <key>textureRect</key>
                <string>{{124,735},{77,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SC13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,121}</string>
                <key>spriteSourceSize</key>
                <string>{173,173}</string>
                <key>textureRect</key>
                <string>{{1,745},{77,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>An.png</string>
            <key>size</key>
            <string>{256,823}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f387568e90c440e8aec8cf4dbe70b9f:505a49ff9737b1a0ee4211f396dd1300:1171b1cc80469141d30df8b77c974cff$</string>
            <key>textureFileName</key>
            <string>An.png</string>
        </dict>
    </dict>
</plist>
