<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TigerNormal00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{374,364}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1887,1081},{374,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{372,364}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1,1435},{372,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,3}</string>
                <key>spriteSize</key>
                <string>{370,366}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{375,1435},{370,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{368,368}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1487,1443},{368,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{378,360}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{759,713},{378,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{392,354}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1547,1},{392,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{394,352}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{755,1},{394,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{386,356}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{373,355},{386,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{380,360}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1139,713},{380,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,3}</string>
                <key>spriteSize</key>
                <string>{370,366}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{747,1439},{370,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{372,362}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{757,1075},{372,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{380,358}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1539,357},{380,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{376,360}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1521,717},{376,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{358,370}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1,349},{358,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TigerNormal14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,9}</string>
                <key>spriteSize</key>
                <string>{346,378}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1,1},{346,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TigerNormal15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{350,372}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{381,1},{350,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TigerNormal16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{360,368}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1,709},{360,368}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TigerNormal17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{366,366}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1119,1439},{366,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{358,368}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1921,359},{358,368}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TigerNormal19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,6}</string>
                <key>spriteSize</key>
                <string>{356,372}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1941,1},{356,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TigerNormal20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{360,370}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1899,719},{360,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TigerNormal21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,360}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1,1073},{374,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-4}</string>
                <key>spriteSize</key>
                <string>{394,352}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1151,1},{394,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{386,356}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{761,355},{386,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{378,360}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{377,1073},{378,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{370,368}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1857,1447},{370,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{374,362}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1131,1075},{374,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{386,358}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{371,713},{386,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{388,356}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1149,355},{388,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{378,362}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1507,1079},{378,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TigerIde.png</string>
            <key>size</key>
            <string>{2314,1816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ec9c388f2e6154349400bc0b05bae5c:50212bd0aea52c5db70025059b433da8:9bc8ba406c72a7c161364dfbfb9b1351$</string>
            <key>textureFileName</key>
            <string>TigerIde.png</string>
        </dict>
    </dict>
</plist>
