<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tiger Intro Attack00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{723,1},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{1445,1},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{2167,1},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{2889,1},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{1,386},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{723,386},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{1445,386},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{2167,386},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{2889,386},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{1,771},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{723,771},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{1445,771},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{2167,771},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{2889,771},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{1,1156},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{723,1156},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{1445,1156},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{2167,1156},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{2889,1156},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{1,1541},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{723,1541},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{1445,1541},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{2167,1541},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger Intro Attack29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,383}</string>
                <key>spriteSourceSize</key>
                <string>{720,383}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TigerIntro.png</string>
            <key>size</key>
            <string>{3610,1925}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bff22bcae1cf9dfd26134a4c6444ef3b:ef603fd278bc7fc9992140e3f69237ac:d9df4667c4136060e32382a9456364e5$</string>
            <key>textureFileName</key>
            <string>TigerIntro.png</string>
        </dict>
    </dict>
</plist>
