<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>T_dig_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{0,0},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{0,0},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{0,0},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{0,0},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{641,0},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{641,0},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{1282,0},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{1923,0},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{2564,0},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{2564,0},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{0,517},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{641,517},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{641,517},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{1282,517},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{1923,517},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{2564,517},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{0,1034},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{641,1034},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{641,1034},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{1282,1034},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_dig_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,517}</string>
                <key>spriteSourceSize</key>
                <string>{641,517}</string>
                <key>textureRect</key>
                <string>{{1923,1034},{641,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tigerAttack2.png</string>
            <key>size</key>
            <string>{3205,1551}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99c2ec958ed4e6f3f72210b88431ec35:b1769b0dc268912445b06ad6b0b0c5c6:ed15d89dffb79038623c614b26194a8b$</string>
            <key>textureFileName</key>
            <string>tigerAttack2.png</string>
        </dict>
    </dict>
</plist>
