<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floating00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,11}</string>
                <key>spriteSize</key>
                <string>{374,398}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{374,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floating01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,11}</string>
                <key>spriteSize</key>
                <string>{376,396}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{789,1},{376,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floating02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,13}</string>
                <key>spriteSize</key>
                <string>{380,392}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{789,379},{380,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floating03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,14}</string>
                <key>spriteSize</key>
                <string>{382,388}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,757},{382,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floating04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,15}</string>
                <key>spriteSize</key>
                <string>{388,386}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1141},{388,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floating05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,16}</string>
                <key>spriteSize</key>
                <string>{392,382}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{391,759},{392,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floating06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,16}</string>
                <key>spriteSize</key>
                <string>{392,384}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{391,1143},{392,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floating07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,16}</string>
                <key>spriteSize</key>
                <string>{388,388}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{791,1531},{388,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floating08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,15}</string>
                <key>spriteSize</key>
                <string>{386,390}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{399,1531},{386,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floating09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,14}</string>
                <key>spriteSize</key>
                <string>{384,394}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{785,1145},{384,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floating10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,13}</string>
                <key>spriteSize</key>
                <string>{384,398}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1181,1147},{384,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floating11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,14}</string>
                <key>spriteSize</key>
                <string>{384,398}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1581,1147},{384,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floating12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,16}</string>
                <key>spriteSize</key>
                <string>{384,396}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1529},{384,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floating13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,17}</string>
                <key>spriteSize</key>
                <string>{386,394}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1181,1533},{386,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floating14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,18}</string>
                <key>spriteSize</key>
                <string>{386,392}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1577,1533},{386,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floating15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,19}</string>
                <key>spriteSize</key>
                <string>{382,388}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{785,761},{382,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floating16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,19}</string>
                <key>spriteSize</key>
                <string>{380,388}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{399,377},{380,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floating17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,18}</string>
                <key>spriteSize</key>
                <string>{378,386}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1579,1},{378,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floating18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,18}</string>
                <key>spriteSize</key>
                <string>{380,382}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1183,379},{380,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floating19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,17}</string>
                <key>spriteSize</key>
                <string>{384,380}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1567,381},{384,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floating20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,17}</string>
                <key>spriteSize</key>
                <string>{386,374}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{401,1},{386,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floating21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,15}</string>
                <key>spriteSize</key>
                <string>{390,376}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1187,1},{390,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floating22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{386,382}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1175,761},{386,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floating23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,10}</string>
                <key>spriteSize</key>
                <string>{382,390}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1563,763},{382,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floating24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,10}</string>
                <key>spriteSize</key>
                <string>{378,396}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,377},{378,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DragonIde.png</string>
            <key>size</key>
            <string>{1980,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bde15ae6e6d54b9b4f227e16f77baa44:c6e9ca3cec8135377e84ae93949290b8:3c4d7ec6ad336fa6e38d652b70feeb6c$</string>
            <key>textureFileName</key>
            <string>DragonIde.png</string>
        </dict>
    </dict>
</plist>
