<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TigerNormal00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{0,0},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{520,0},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1040,0},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1560,0},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{2080,0},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{2600,0},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{3120,0},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{3640,0},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{4160,0},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{4680,0},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{5200,0},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{5720,0},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{6240,0},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{6760,0},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{7280,0},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{0,520},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{520,520},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1040,520},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1560,520},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{2080,520},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{2600,520},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{3120,520},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{3640,520},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{4160,520},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{4680,520},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{5200,520},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{5720,520},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{6240,520},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{6760,520},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TigerNormal29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,520}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{7280,520},{520,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tigerIde2.png</string>
            <key>size</key>
            <string>{7800,1040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad35140e04d60d9fa10d054d5f389809:50212bd0aea52c5db70025059b433da8:538bae30c5d075c0db888653d8165eec$</string>
            <key>textureFileName</key>
            <string>tigerIde2.png</string>
        </dict>
    </dict>
</plist>
