<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fireblast00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-209,-25}</string>
                <key>spriteSize</key>
                <string>{124,134}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{2045,827},{124,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-209,-25}</string>
                <key>spriteSize</key>
                <string>{124,132}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{2479,665},{124,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fireblast02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-209,-24}</string>
                <key>spriteSize</key>
                <string>{124,132}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{2171,861},{124,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-210,-21}</string>
                <key>spriteSize</key>
                <string>{126,132}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{2479,531},{126,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-210,-20}</string>
                <key>spriteSize</key>
                <string>{124,134}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{2171,725},{124,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-212,-16}</string>
                <key>spriteSize</key>
                <string>{126,132}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{2297,725},{126,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-212,-13}</string>
                <key>spriteSize</key>
                <string>{126,132}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{2297,859},{126,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-209,-15}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{2425,791},{128,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-205,-18}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{2479,399},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,-19}</string>
                <key>spriteSize</key>
                <string>{298,132}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{2345,1},{298,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fireblast10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-198,-17}</string>
                <key>spriteSize</key>
                <string>{136,130}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{2479,267},{136,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-193,-21}</string>
                <key>spriteSize</key>
                <string>{138,134}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{1905,827},{138,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-123,-29}</string>
                <key>spriteSize</key>
                <string>{264,138}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{2479,1},{264,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fireblast13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-116,-43}</string>
                <key>spriteSize</key>
                <string>{262,164}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{1905,661},{262,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-13}</string>
                <key>spriteSize</key>
                <string>{400,290}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{1385,329},{400,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-17}</string>
                <key>spriteSize</key>
                <string>{382,300}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{2177,341},{382,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fireblast16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-18}</string>
                <key>spriteSize</key>
                <string>{374,302}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{1529,661},{374,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-20}</string>
                <key>spriteSize</key>
                <string>{360,306}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{913,643},{360,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fireblast18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-20}</string>
                <key>spriteSize</key>
                <string>{368,306}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{1221,633},{368,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fireblast19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-14}</string>
                <key>spriteSize</key>
                <string>{388,318}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{1787,341},{388,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-7}</string>
                <key>spriteSize</key>
                <string>{418,308}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{965,323},{418,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,0}</string>
                <key>spriteSize</key>
                <string>{440,320}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{1021,1},{440,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,4}</string>
                <key>spriteSize</key>
                <string>{438,338}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{1905,1},{438,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,0}</string>
                <key>spriteSize</key>
                <string>{436,346}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{475,643},{436,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,10}</string>
                <key>spriteSize</key>
                <string>{440,326}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{1463,1},{440,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,13}</string>
                <key>spriteSize</key>
                <string>{454,320}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{509,321},{454,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,13}</string>
                <key>spriteSize</key>
                <string>{472,320}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{1,641},{472,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,14}</string>
                <key>spriteSize</key>
                <string>{492,318}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{527,1},{492,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,14}</string>
                <key>spriteSize</key>
                <string>{506,318}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{1,321},{506,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,14}</string>
                <key>spriteSize</key>
                <string>{524,318}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{1,1},{524,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireblast30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-209,-25}</string>
                <key>spriteSize</key>
                <string>{124,134}</string>
                <key>spriteSourceSize</key>
                <string>{550,346}</string>
                <key>textureRect</key>
                <string>{{2045,827},{124,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragpnAttack.png</string>
            <key>size</key>
            <string>{2618,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96e1b9623ff947c7f5f0753869a08810:c3e54c43397228773029cb69bbbc8b85:d5356cf1b6ed299814fc59d11aece3cf$</string>
            <key>textureFileName</key>
            <string>dragpnAttack.png</string>
        </dict>
    </dict>
</plist>
