<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DW00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-205,130}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{1,1176},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DW01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{207,105}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{1764,791},{207,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{365,185}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{196,793},{365,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{395,201}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{1,1},{395,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{341,173}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{383,793},{341,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{381,193}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{1,793},{381,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{1,398},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{202,398},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{204,1},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{403,396},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{558,791},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{405,1},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{604,396},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{759,791},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{606,1},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{805,396},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{960,791},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{807,1},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{1006,396},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{1161,791},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{1008,1},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{1207,396},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{1362,791},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{1209,1},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{1408,396},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{1563,791},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{1410,1},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{1609,396},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{393,199}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{1611,1},{393,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DW29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-205,130}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{1,1181},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DW30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-205,130}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{6,1176},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DW31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-205,130}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{6,1181},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DW32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-205,130}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{11,1176},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DW33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-205,130}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{11,1181},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DW34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-205,130}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{413,263}</string>
                <key>textureRect</key>
                <string>{{16,1176},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragonWin.png</string>
            <key>size</key>
            <string>{1870,1185}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:296a424c203ed5fd088651f3f63a561d:39cd337e302be7c1533595bcaa061f3f:43ecf9d9ded0073b126a12ec7522cd18$</string>
            <key>textureFileName</key>
            <string>dragonWin.png</string>
        </dict>
    </dict>
</plist>
