<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>damaged00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,12}</string>
                <key>spriteSize</key>
                <string>{416,444}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1369,1147},{416,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>damaged01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,13}</string>
                <key>spriteSize</key>
                <string>{418,442}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1555},{418,442}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>damaged02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,16}</string>
                <key>spriteSize</key>
                <string>{416,438}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1815,1169},{416,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>damaged03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,25}</string>
                <key>spriteSize</key>
                <string>{416,440}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{2255,1171},{416,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>damaged04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,21}</string>
                <key>spriteSize</key>
                <string>{416,444}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{2697,1173},{416,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>damaged05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,18}</string>
                <key>spriteSize</key>
                <string>{416,446}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{3143,1173},{416,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>damaged06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,17}</string>
                <key>spriteSize</key>
                <string>{414,452}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{2955,757},{414,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>damaged07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,14}</string>
                <key>spriteSize</key>
                <string>{420,446}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{903,1563},{420,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>damaged08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,10}</string>
                <key>spriteSize</key>
                <string>{434,436}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{4483,1591},{434,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>damaged09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,13}</string>
                <key>spriteSize</key>
                <string>{450,434}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{4921,1591},{450,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,27}</string>
                <key>spriteSize</key>
                <string>{456,416}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{3591,1173},{456,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,26}</string>
                <key>spriteSize</key>
                <string>{448,416}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{4049,1173},{448,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,26}</string>
                <key>spriteSize</key>
                <string>{456,418}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{445,1559},{456,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,26}</string>
                <key>spriteSize</key>
                <string>{462,420}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1351,1565},{462,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,27}</string>
                <key>spriteSize</key>
                <string>{470,420}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1815,1589},{470,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,28}</string>
                <key>spriteSize</key>
                <string>{482,416}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{4499,1173},{482,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,28}</string>
                <key>spriteSize</key>
                <string>{482,414}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{3409,757},{482,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,30}</string>
                <key>spriteSize</key>
                <string>{480,412}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1985,755},{480,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,29}</string>
                <key>spriteSize</key>
                <string>{486,412}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{2467,757},{486,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,30}</string>
                <key>spriteSize</key>
                <string>{488,414}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{3893,757},{488,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,30}</string>
                <key>spriteSize</key>
                <string>{486,414}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{4383,757},{486,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,30}</string>
                <key>spriteSize</key>
                <string>{476,414}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{4871,757},{476,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,29}</string>
                <key>spriteSize</key>
                <string>{464,414}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1139},{464,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,29}</string>
                <key>spriteSize</key>
                <string>{456,414}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{467,1143},{456,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,29}</string>
                <key>spriteSize</key>
                <string>{442,414}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{925,1147},{442,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,26}</string>
                <key>spriteSize</key>
                <string>{440,420}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{2287,1591},{440,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,22}</string>
                <key>spriteSize</key>
                <string>{438,426}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{3171,1591},{438,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,19}</string>
                <key>spriteSize</key>
                <string>{432,432}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{4049,1591},{432,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damaged28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,16}</string>
                <key>spriteSize</key>
                <string>{426,436}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{3611,1591},{426,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>damaged29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,14}</string>
                <key>spriteSize</key>
                <string>{420,440}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{2729,1591},{420,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resized-images (16)/damaged00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,11}</string>
                <key>spriteSize</key>
                <string>{376,400}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{817,375},{376,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resized-images (16)/damaged01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,11}</string>
                <key>spriteSize</key>
                <string>{376,398}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1219,377},{376,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resized-images (16)/damaged02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,15}</string>
                <key>spriteSize</key>
                <string>{376,394}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1619,377},{376,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resized-images (16)/damaged03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,22}</string>
                <key>spriteSize</key>
                <string>{374,396}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1317,1},{374,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resized-images (16)/damaged04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,19}</string>
                <key>spriteSize</key>
                <string>{376,400}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{2015,377},{376,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resized-images (16)/damaged05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,16}</string>
                <key>spriteSize</key>
                <string>{374,402}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1715,1},{374,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resized-images (16)/damaged06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,15}</string>
                <key>spriteSize</key>
                <string>{374,406}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{2119,1},{374,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resized-images (16)/damaged07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,13}</string>
                <key>spriteSize</key>
                <string>{378,404}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{2823,377},{378,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resized-images (16)/damaged08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,9}</string>
                <key>spriteSize</key>
                <string>{388,392}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{791,753},{388,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resized-images (16)/damaged09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,12}</string>
                <key>spriteSize</key>
                <string>{406,390}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1185,755},{406,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,24}</string>
                <key>spriteSize</key>
                <string>{412,374}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{2527,1},{412,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,24}</string>
                <key>spriteSize</key>
                <string>{404,376}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{2417,377},{404,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,24}</string>
                <key>spriteSize</key>
                <string>{410,378}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{3229,377},{410,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,24}</string>
                <key>spriteSize</key>
                <string>{414,378}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{3641,377},{414,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,24}</string>
                <key>spriteSize</key>
                <string>{422,378}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{4057,377},{422,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,25}</string>
                <key>spriteSize</key>
                <string>{434,374}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{2941,1},{434,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,25}</string>
                <key>spriteSize</key>
                <string>{434,374}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{3377,1},{434,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,26}</string>
                <key>spriteSize</key>
                <string>{432,370}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,1},{432,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,27}</string>
                <key>spriteSize</key>
                <string>{438,372}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{435,1},{438,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,27}</string>
                <key>spriteSize</key>
                <string>{440,372}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{875,1},{440,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,27}</string>
                <key>spriteSize</key>
                <string>{438,374}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{3813,1},{438,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,27}</string>
                <key>spriteSize</key>
                <string>{428,374}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{4253,1},{428,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,27}</string>
                <key>spriteSize</key>
                <string>{420,374}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{4683,1},{420,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,26}</string>
                <key>spriteSize</key>
                <string>{412,374}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,373},{412,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,26}</string>
                <key>spriteSize</key>
                <string>{400,374}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{415,375},{400,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,24}</string>
                <key>spriteSize</key>
                <string>{398,378}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{4481,377},{398,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,20}</string>
                <key>spriteSize</key>
                <string>{394,386}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{395,751},{394,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,17}</string>
                <key>spriteSize</key>
                <string>{390,390}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1593,755},{390,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resized-images (16)/damaged28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,15}</string>
                <key>spriteSize</key>
                <string>{384,392}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,749},{384,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resized-images (16)/damaged29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,13}</string>
                <key>spriteSize</key>
                <string>{378,398}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{4881,377},{378,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DragonHurt.png</string>
            <key>size</key>
            <string>{5372,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0fb71edfc87cee41f44d7d277b3f5bd:fc71607568e4812f4fb8d2c1e87b5c5e:5b2013615b9eaad955c1bb4b390fad16$</string>
            <key>textureFileName</key>
            <string>DragonHurt.png</string>
        </dict>
    </dict>
</plist>
